openapi: "3.1.1"
info:
  title: "Generated API"
  version: "1.0.0"
paths:
  /users:
    get:
      operationId: "GetUsers"
      responses:
        "200":
          description: "Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/User"
    post:
      operationId: "CreateUser"
      responses:
        "201":
          description: "Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
  /users/{id}:
    get:
      operationId: "GetUser"
      responses:
        "200":
          description: "Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: "Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "integer"
          format: "int32"
components:
  schemas:
    User:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        name:
          type: "string"
        email:
          type: "string"
      required:
      - "id"
      - "name"
    Error:
      type: "object"
      properties:
        message:
          type: "string"
      required:
      - "message"
